body{
    margin: 0;
    scroll-behavior: smooth;
    display: contents;
    font-family: 'Lato', sans-serif;
}
header > nav > ul{
    text-align: right;
}
nav ul li{
    margin-left: 3%;
    display: inline;
    font-size: 0.99em;
    font-family: 'Merriweather', serif;
}
header > nav > ul > li > a{
    text-decoration: none;
    color: rgb(92, 92, 92);
    text-transform: uppercase;
}
#first{
    display: flex;
    flex-direction: row;
}
#first article{
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    text-align: left;
    margin: 10% 10%;
    float: left;
    text-decoration: none;
}
#first article > a{
    text-decoration: none;
    border: 1px solid black;
    padding: 12.5px 15px;
}
#first article > a:hover{
    text-decoration: none;
    border: 1px solid black;
    padding: 12.5px 15px;
    transition: 0.69s ease-in;
    background-color: black;
    color: cornsilk;
}
#first article h1{
    font-family: 'Merriweather', serif;
    font-size: 3em;
    text-align: left;
}
#first img{
    width: 45%;
    margin-top: 2%;
}
#second{
    display: flex;
    align-items: center;
    height: 60vh;
    margin-top: 12%;
}
#second article{
    font-size: 1.7em;
    font-family: 'Merriweather', serif;
    text-align: right;
    margin-top: 7.5%;
    margin-right: 2.5%;
    float: right;
}
#second img{
    width: 40%;
    float: left;
    margin-bottom: 5%;
    margin-left: 10%;
}
#third{
    margin-top: 7%;
}
#third article{
    font-family: 'Merriweather', serif;
    font-size: 1.3em;
    text-align: left;
    float: left;
    margin-left: 10%;
}
#third img{
     height: 380px;
     width: 480px;
     float: right;
     margin-right: 10%;
     margin-bottom: 20%;
}
#fourth article{
    text-align: center;
    font-family: 'Merriweather', serif;
}
#fourth article h1{

    font-size: 3em;
}
.x{
    float: left;
    height: 380px;
    width: 30%;
}
.y{
    height: 380px;
     width: 30%;
}
.z{
    float: right;
    height: 380px;
    width: 30%
}
#fifth{
height: 250vh;
}
#fifth article{
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 1.1em;
    margin-top: 5%;
}
#fifth article h1{
    font-family: 'Merriweather', serif;
    font-size: 3em;
}
#fifth img {
    width: 40%;
    padding-bottom: 4%;
    margin-top: 5%;
}
.a, .c, .e{
    padding-left:8%;
    padding-right: 4%;
}
#sixth article{
    height: 50vh;
    text-align: center;
    font-size: 1.3em;
    
}
#sixth article h1{
    font-size: 3em;
}
.textbox{
    text-align: center;
    font-size: 0.81em;
    width: 15%;
    margin: 10px auto;
    background-color: rgba(108, 108, 243, 0.219);
    box-shadow: 0px 0px 5px rgba(0, 0, 255, 0.308);
    font-family: 'Lato', sans-serif;
    margin-top: 5%;
    height: 80vh;
}
.textbox h1{
    font-size: 2.1em;
}
.textbox h6{
    font-size: 1em;
    margin: 3vh;

}
.textbox h3{
    font-size: 1.1em;
    color: grey;
}
.textbox a{
    box-shadow: 0px 0px 3px blue;
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    height: 50vh;
    border-radius: 4px ;
}
.absurd{
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 3.33em;
}
.email{
    font-size: 1.23em;
    text-align: center;
    color: rgb(105, 105, 105);
    margin-left: 5%;
}
.email > a{
    text-decoration: none;
}