/* @import url('https://fonts.googleapis.com/css?family=Lato|Merriweather&display=swap');

font-family: 'Merriweather', serif;
font-family: 'Lato', sans-serif; */

header > nav > ul > li > a{
    text-decoration: none;
    color: rgb(92, 92, 92);

}

header > nav > ul{
    text-align: right;
}

nav ul li{
    margin-left: 3%;
    display: inline;
    font-size: 1em;
    font-family: 'Merriweather', serif;
}
#first{


   



}

#first article{

    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    text-align: left;
    margin: 10% 10%;
    float: left;


}

#first article h1{

    font-size: 2.3em;
 
}

#first article ul li{ 

    


}


#first img{


    width: 480px;
    height: 380px;
    float: right ;
    margin-top: 10%;
    margin-right: 14%;


    
}
#second{

    
    height: 50vh;
 
 
 
 }
 
 #second article{
 
     font-family: 'Lato', sans-serif;
     font-size: 1.1em;
     text-align: right;
     margin-right: 10%;
     margin-top: 10%;
    
 
 
 }

 #second article h1{

    font-size: 2.3em;
 
}
 
 
 #second img{
 
     height: 380px;
     width: 480px;
     float: left;
     margin-bottom: 15%;
     margin-left: 15%;
     
 }
 #third{

    margin-top: 10%;
 
 
 
 }
 
 #third article{
 
    font-family: 'Lato', sans-serif;
     font-size: 1.3em;
     text-align: left;
     float: left;
     margin-left: 10%;

 
 
 }
 
 
 #third img{
 
     height: 380px;
     width: 480px;
     float: right;
     margin-right: 10%;
     margin-bottom: 20%;
     
 }

#fourth{
    

}
#fourth article{
    text-align: center;
    font-family: 'Lato', sans-serif;
    c
}
#fourth article h1{

    font-size: 2.3em;
 
}

.x{

    float: left;
    height: 380px;
    width: 30%;

}
.y{

    height: 380px;
     width: 30%;

}
.z{

    float: right;
    height: 380px;
    width: 30%;

}


#fifth{

height: 250vh;

}

#fifth article{

    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    margin-top: 5%;

    
}
#fifth article h1{

    font-size: 2.3em;
 
}

#fifth img {
  
    width: 40%;
    padding-bottom: 4%;
    margin-top: 5%;
}

.a, .c, .e{

    padding-left:8%;
    padding-right: 4%;

}

#sixth article{

    height: 50vh;
    text-align: center;
    font-size: 1.3em;
    font-family: 'Lato', sans-serif;


}
#sixth article h1{

    font-size: 2.3em;

    
}
.textbox{

    text-align: center;
    font-size: 1.1em;
    width: 15%;
    margin: 10px auto;
    background-color: rgba(108, 108, 243, 0.219);
    box-shadow: 0px 0px 5px rgba(0, 0, 255, 0.308);
    font-family: 'Merriweather', serif;
    margin-top: 5%;
    height: 80vh;

}
.textbox h1{
    font-size: 2.1em;
}

.textbox h6{
    font-size: 1em;
    margin: 3vh;

}

.textbox h3{
    font-size: 1.1em;
    color: grey;
}


.textbox a{
    box-shadow: 0px 0px 3px blue;
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    height: 50vh;
    border-radius: 4px ;
}

.absurd{

    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 3em;

}

.email{

    text-align: center;
    color: rgb(105, 105, 105);

}

.mail{

    text-decoration: none;
    text-align: center;
}